.chatScreen__input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  left: 0;
}

.chatScreen__inputField {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 18px;
}
.chatScreen__btn {
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bolder;
  color: #fe3d71;
}
